<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/koala.min.1.5.js"></script>
<script type="text/javascript" src="js/hdma.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({

	mainmenuid: "smoothmenu1", //menu DIV id
	
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	
	classname: 'navc'

});
</script>
<script type="text/javascript" src="js/Lunbo.js" ></script>
    <script type="text/javascript" src="js/channelChange.js"></script>



</head>


<body>
<!--顶部-->
<div class="top">
  <div class="top_logo"><a href="#"><img src="images/logo-1.png" width="410" height="90"></a></div>
  <div class="top_ss">
    <div class="top_ssa"> <span style=" line-height:30px; font-family: '微软雅黑'; padding:4px 0 0 0;color:#FFF;" >
      <iframe width="240" scrolling="no" height="24" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=11&color=%23FFFFFF&icon=1&py=zhanjiang&site=14"></iframe>
      </span> <span style=" line-height:30px; color:#FFF">　天气：</span> <span><script language=JavaScript>
var d, s = "";
var x = new Array("星期日", "星期一", "星期二","星期三","星期四", "星期五","星期六");
d = new Date();
s+=d.getFullYear()+"年"+(d.getMonth() + 1)+"月"+d.getDate()+"日 ";
s+=x[d.getDay()];
document.writeln(s);
</script></span> </div>
    <div class="top_ssb"> <span class="top_ssb1"><a href="#"><img src="images/sgd-2.png" width="60" height="36"></a></span> <span class="top_ssb2">
      <input type="text" value="请输入要查找的内容">
      </span> </div>
  </div>
</div>
<!--导航-->
<div class="nav">
  <div class="navc" id="smoothmenu1">
    <ul class="clearfix">
      <li><a class="selected" href="#">首 　页</a></li>
      <li> <a class="submenuc" target="_blank" href="#">水务要闻</a></li>
      <li> <a target="_blank" class="submenuc" href="#">政务公开</a>
        <ul class="submenu submenua">
          <li><a href="#">领导信息</a></li>
          <li><a href="#">机构职能</a></li>
          <li><a href="#">办事指南</a></li>
          <li><a href="#">公告公示</a></li>
          <li><a href="#">人事信息</a></li>
          <li><a href="#">财政预决算公开</a></li>
          <li><a href="#">信息公开年报</a></li>
          <li><a href="#">决策公开</a></li>
          <li><a href="#">管理公开（双公示）</a></li>
          <li><a href="#">执行公开</a></li>
          <li><a href="#">结果公开</a></li>
          <li><a href="#">服务公开</a></li>
          <li class="last"><a href="#">三防信息</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">主要业务</a>
        <ul class="submenu">
          <li><a href="#">水资源管理</a></li>
          <li><a href="#">建设与管理</a></li>
          <li><a href="#">水政监察</a></li>
          <li><a href="#">水库移民</a></li>
          <li><a href="#">水利质监</a></li>
          <li class="last" ><a href="#">规计财审</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">水务专辑</a>
        <ul class="submenu">
          <li><a href="#">鉴江供水枢纽工程</a></li>
          <li><a href="#">合流水库备用水源地建设</a></li>
          <li class="last"><a href="#">全面推行河长制</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">公众互动</a>
        <ul class="submenu">
          <li><a href="#">局长信箱</a></li>
          <li><a href="#">公众留言</a></li>
          <li><a href="#">常见问题 </a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">问卷调查</a></li>
          <li><a href="#">新闻发布会</a></li>
          <li class="last" ><a href="#">在线访谈</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a  target="_blank"  href="#">水利百科</a>
        <ul class="submenu">
          <li><a href="#">政策解读</a></li>
          <li><a href="#">水务知识</a></li>
          <li><a href="#">在线访谈</a></li>
          <li><a href="#">水务视频</a></li>
          <li class="last" ><a href="#">水务图库</a></li>
        </ul>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</div>
<!--专题-->
<div class="ztgg"><img src="images/gg-1.jpg" width="1200" height="80"></div>
<!--主要内容-->
<div class="cont_box">
  <div class="side">
    <div class="sidet">栏目导航</div>
    <div class="sidem">
      <ul>
        <li><a href="#">领导信息</a></li>
        <li><a href="#">机构职能</a></li>
        <li><a href="#">办事指南</a></li>
        <li><a href="#">公告公示</a></li>
        <li><a href="#">人事信息</a></li>
        <li><a href="#">财政预决算公开</a></li>
        <li><a href="#">信息公开年报</a></li>
        <li><a href="#">决策公开</a></li>
        <li><a href="#">管理公开（双公示）</a></li>
        <li><a href="#">执行公开</a></li>
        <li><a href="#">结果公开</a></li>
        <li><a href="#">服务公开</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="main">
    <div class="maint"> <span>当前位置：<a href="#">网站首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">公众互动</a>&nbsp;&nbsp;>&nbsp;&nbsp;公众留言</span> </div>
    <div class="mainm">
      <table border="0" cellpadding="0" cellspacing="0" class="myTable">
        <tbody>
          <tr >
            <td align="center" style=" font-size:18px; line-height:50px;">使 用 须 知 </td>
          </tr>
          <tr>
            <td class="text" style="text-align:left; padding:10px;">　　1.用途说明：本栏目只处理咨询建议类信息；向局长提意见和建议的邮件请发往局长邮箱。不属于咨询建议范围内的信息概不处理或回复；您可以通过我站的受理查询栏目查询您的提交信息处理情况（一般在3个工作日内得到答复）。 <br>
              2.内容要求：请您以认真、热情、负责的态度完成咨询建议信息编写，咨询问题须用词礼貌、准确、有针对性；建议类信息内容要健康充实、所提建议须切实可行，切莫过于空洞或不符实际。我们将认真处理建议咨询信息，从中采纳对部门发展有利的建议以及及时详细地解答您的咨询提问。 对于过于空洞的建议，我们不作答或只作礼貌性回答；对于针对性不强或表述不清的咨询，我们将只提供简单的方向性的解答；对于不属于我局处理范围内的咨询或建议，概不作答。 <br>
              友情提示：为提高你的答复效率，如咨询一般业务问题，建议根据职能分工直接联系如下业务咨询电话。 </td>
          </tr>
        </tbody>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px; padding:10px 0 0 0;">
        <tbody>
          <tr>
            <td id="LetterTypes" valign="top"><table cellpadding="0" cellspacing="0" class="table02">
                <tbody>
                  <tr height="28" align="center">
                    <td id="menu1" onmouseover="setTab_zxjy('menu',1,'10',1,this)" style="cursor:pointer" class="c06">水资源管理</td>
                    <td id="menu2" onmouseover="setTab_zxjy('menu',1,'10',2,this)" style="cursor:pointer" class="c05">建设与管理</td>
                    <td id="menu3" onmouseover="setTab_zxjy('menu',1,'10',3,this)" style="cursor:pointer" class="c05">农村水利</td>
                    <td id="menu4" onmouseover="setTab_zxjy('menu',1,'10',4,this)" style="cursor:pointer" class="c05">水保安监</td>
                    <td id="menu5" onmouseover="setTab_zxjy('menu',1,'10',5,this)" style="cursor:pointer" class="c05">水政监察</td>
                    <td id="menu6" onmouseover="setTab_zxjy('menu',1,'10',6,this)" style="cursor:pointer" class="c05">水库移民</td>
                    <td id="menu7" onmouseover="setTab_zxjy('menu',1,'10',7,this)" style="cursor:pointer" class="c05">供水节水</td>
                    <td id="menu8" onmouseover="setTab_zxjy('menu',1,'10',8,this)" style="cursor:pointer" class="c05">水利质监</td>
                    <td id="menu9" onmouseover="setTab_zxjy('menu',1,'10',9,this)" style="cursor:pointer" class="c05">规计财审</td>
                    <td id="menu10" onmouseover="setTab_zxjy('menu',1,'10',10,this)" style="cursor:pointer" class="c05">其它</td>
                  </tr>
                </tbody>
              </table>
              <table cellspacing="0" cellpadding="0" class="table022">
                <tbody>
                  <tr>
                    <td><table cellspacing="7" cellpadding="0" id="con_menu_1" class="table033" style="display: block;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;组织实施水资源取水许可、有偿使用和论证等制度；组织水资源调查、评价和监测工作；指导水量分配、水功能区划和水资源调度工作并监督实施；指导饮用水水源保护、城市供水的水源规划、城市防洪、城市污水处理回用等非传统水资源开发工作；指导入河排污口设置工作，组织核定省管河道的纳污能力；指导计划用水和节约用水工作。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193974</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;水资源管理</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="WriterLetter.aspx?typeID=10&amp;sortID=19" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_2" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;监督水务工程建设与运行；负责水务建设项目的审批与审核，组织对水务基建项目及新建工程的竣工验收；组织开展水务设施、江河水域及其岸线的管理和保护；组织开展大江、大河、河口和滩涂的治理和开发；组织实施河道管理范围内工程建设方案的审查；承担河道采砂的管理与监督工作；承担水务建设市场的监督管理。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193694</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;建设与管理</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="WriterLetter.aspx?typeID=10&amp;sortID=20" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_3" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;组织协调农田水利基本建设；承担农村供水、饮水安全、节水灌溉、排水和雨洪资源利用等工程建设与管理；指导灌区的建设与管理工作；指导农村水务社会化服务体系建设；负责小水电项目建设和运行的管理工作；负责机电排灌工程建设和运行的管理工作。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193873</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp; 农村水利</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_4" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;负责水利水电工程的质量监督工作和质量安全监督的业务指导工作；对水利行业勘测、设计、监理、咨询、施工等单位的资质进行审核；参与水利基建管理法规和施工技术标准的研究、开发和推广应用。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;水保安监</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_5" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;拟订水务方面的政策、制度；承担有关规范性文件的合法性审核工作；负责《水法》、《水土保持法》、《防洪法》及有关法规实施监督检查；负责查处水务违法行为；协调跨县（市、区）水事纠纷；依法征收水资源费、堤围防护费、污水处理费、河道采砂费等水务规费。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3194043</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;水政监察</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_6" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;负责全市水务工程移民安置和后期扶持管理工作；按职责开展全市新建、扩建、除险加固水务工程征地补偿和移民安置工作；协助有关部门做好农林场移民、城镇非农移民、鹤地水库移民的安置和后期扶持管理工作。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193830</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;水库移民</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_7" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;组织编制市城市供水发展规划，对城市供水水质安全实施监管，协调城市供水管网的建设；指导供水企业安全生产工作和供水突发事件的应急管理；参与审核供水行业有关调价方案；组织编制城市节约用水规划，实施计划（定额）用水管理，对超计划（定额）用水实施加价收费；组织节水技术的推广应用，指导城市再生水利用工程建设和运行，负责自备水源用户污水处理费的征收；指导各县（市）城市供水和节水管理工作。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193180</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;供水节水</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="WriterLetter.aspx?typeID=10&amp;sortID=25" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_8" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;width:">&nbsp;&nbsp;&nbsp;&nbsp;负责水利水电工程的质量监督工作和质量安全监督的业务指导工作；对水利行业勘测、设计、监理、咨询、施工等单位的资质进行审核；参与水利基建管理法规和施工技术标准的研究、开发和推广应用。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193858</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;水利质监</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="WriterLetter.aspx?typeID=10&amp;sortID=24" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_9" class="table033" style="display: none;">
                        <tbody>
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;组织水务有关规划的编制和审查；拟订水务中长期发展计划、年度计划；协助水务工程项目建议书和可行性研究报告的立项、审核、申报；组织编制部门预算、决算；提出市级水务资金安排计划；承担水务资金的管理使用、水务工程建设管理的审计监督及绩效的评价工作；承担局机关并指导直属单位的财务、国有资产监管和内部审计工作；提出有关水务价格、收费的建议；承担水务统计和水利学会的有关工作。</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：3193238</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;规计财审</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style=""><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellspacing="7" cellpadding="0" id="con_menu_10" class="table033" style="display: none;width:870px !important;">
                        <tbody style=" width:870px; ">
                          <tr>
                            <td colspan="2" valign="top" style="font:12px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span style=" color:#f00;height:199px;">咨询电话：</span><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;其它</td>
                          </tr>
                          <tr>
                             <td colspan="2" align="center" style=" width:870px; "><a href="#" target="_blank"><img src="images/writeletter2011.jpg" width="140" height="41"></a></td>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0" class="table02" style="margin-bottom:5px;">
              <tbody><tr>
              <td class="c05" width="37%">&nbsp;未处理信件（<span id="lblReviceNum" class="c03">0</span>）件</td>
              <td align="center">&nbsp;正在处理信件（<span id="lblRunNum" class="c03">0</span>）件</td>
              <td align="center">&nbsp;已处理信件（<span id="lblAnserNum" class="c03">102</span>）件</td>
             </tr>
           </tbody></table>
           <table class="table02" cellspacing="0" cellpadding="1" rules="all" border="1" id="gv" style="border-width:1px;border-style:solid;width:100%;border-collapse:collapse;">
	<tbody><tr align="center" style=" background:#d2e8fc">
		<td>序号</td><td>信件主题</td><td>提问人</td><td>咨询时间</td><td>满意评价(人)</td><td>处理状态</td><td>信件类型</td>
	</tr><tr align="center">
		<td align="center">1</td><td title="水压小" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=246" target="_blank">水压小</a></td><td>陆玄生</td><td>2018-03-11</td><td>0</td><td>
					<font class="c08">已处理</font>
                   </td><td>供水节水</td>
	</tr><tr align="center" style="background-color:White;">
		<td align="center">2</td><td title="霞山区人民东一路3号爆水管问题" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=242" target="_blank">霞山区人民东一路3号爆水管问题</a></td><td>Z小姐</td><td>2017-12-15</td><td>80</td><td>
					<font class="c08">已处理</font>
                   </td><td>其它</td>
	</tr><tr align="center">
		<td align="center">3</td><td title="雷州市红心楼灌区续建配套与节水改造工程在施工中对农民的农作物造成损害有青苗赔偿吗？" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=241" target="_blank">雷州市红心楼灌区续建配套与节水改造工...</a></td><td>吴珠通</td><td>2017-11-30</td><td>137</td><td>
					<font class="c08">已处理</font>
                   </td><td>建设与管理</td>
	</tr><tr align="center" style="background-color:White;">
		<td align="center">4</td><td title="居民垃圾处理费" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=238" target="_blank">居民垃圾处理费</a></td><td>黄小姐</td><td>2017-09-19</td><td>35</td><td>
					<font class="c08">已处理</font>
                   </td><td>其它</td>
	</tr><tr align="center">
		<td align="center">5</td><td title="发票开具问题" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=227" target="_blank">发票开具问题</a></td><td>周生</td><td>2017-07-06</td><td>3</td><td>
					<font class="c08">已处理</font>
                   </td><td>规计财审</td>
	</tr><tr align="center" style="background-color:White;">
		<td align="center">6</td><td title="水电局服务人民在哪里" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=225" target="_blank">水电局服务人民在哪里</a></td><td>小姐</td><td>2017-07-01</td><td>4</td><td>
					<font class="c08">已处理</font>
                   </td><td>水资源管理</td>
	</tr><tr align="center">
		<td align="center">7</td><td title="大家一直投诉自来水发黄却从未见改变" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=224" target="_blank">大家一直投诉自来水发黄却从未见改变</a></td><td>吴胜忠</td><td>2017-06-22</td><td>0</td><td>
					<font class="c08">已处理</font>
                   </td><td>农村水利</td>
	</tr><tr align="center" style="background-color:White;">
		<td align="center">8</td><td title="每天都停水停电" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=223" target="_blank">每天都停水停电</a></td><td>李斌</td><td>2017-06-05</td><td>0</td><td>
					<font class="c08">已处理</font>
                   </td><td>水资源管理</td>
	</tr><tr align="center">
		<td align="center">9</td><td title="连续停水一个星期" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=220" target="_blank">连续停水一个星期</a></td><td>李小姐</td><td>2017-05-03</td><td>1</td><td>
					<font class="c08">已处理</font>
                   </td><td>水资源管理</td>
	</tr><tr align="center" style="background-color:White;">
		<td align="center">10</td><td title="京基三期秋盛苑7A805水表空转的问题" class="tit03" style="width:40%;"><a href="LetterDetail.aspx?ReviceID=214" target="_blank">京基三期秋盛苑7A805水表空转的问...</a></td><td>黄先生</td><td>2017-03-29</td><td>2</td><td>
					<font class="c08">已处理</font>
                   </td><td>供水节水</td>
	</tr>
</tbody></table>
      <div class="ep-pages"> <a href="#" target="_self" >首页</a> <a href="#" target="_self" >上一页</a> <a href="#" target="_self" class="current1">1</a> <a href="#" target="_self">2</a> <a href="#" target="_self">3</a> <span>...</span> <a href="#" target="_self"  >下一页</a> <a href="#" target="_self">尾页</a> </div>
    </div>
  </div>
  <div class=" clear"></div>
</div>
<!--底部foot-->
<div class="footer">
  <div class="foot">
    <div class="foota"> <span>
      <select name="">
        <option>国家部委</option>
        <option>国家部委</option>
        <option>国家部委</option>
        <option>国家部委</option>
      </select>
      </span> <span>
      <select name="">
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
      </select>
      </span> <span>
      <select name="">
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
      </select>
      </span> <span>
      <select name="">
        <option>其他网站</option>
        <option>其他网站</option>
        <option>其他网站</option>
        <option>其他网站</option>
      </select>
      </span> </div>
    <div class="fontb">
      <p><a href="#">首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">隐私保护</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">关于我们</a></p>
      <br>
      <p>© 2018 湛江市水务局 版权所有粤ICP备14016251号<br>
        政府网站标识码：4408000031　办公地址：湛江市赤坎区寸金路30号 邮编：524037<br>
        电话：(0759) 3194225 电子邮箱：zjswjxxb@126.com</p>
      <div class="fontb1"><a href="#"><img src="images/jiucuo.png" width="110" height="55"></a></div>
      <div class="fontb2"><a href="#"><img src="images/red.png" width="80" height="80"></a></div>
      <div class="fontb3"><img src="images/fp01.gif" width="49" height="50"></div>
      <div class="fontb4"><img src="images/fp02.gif" width="38" height="48"></div>
    </div>
  </div>
</div>
<div class="floating_ck">
  <dl>
    <dt></dt>
    <dd class="consult"> <span>微 信</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          微 信</p>
      </div>
    </dd>
    <dd class="words"> <span>局长信箱</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          局长信箱</p>
      </div>
    </dd>
    <dd class="quote"> <span>公众留言</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          公众留言</p>
      </div>
    </dd>
    <dd class="qrcord"> <span>常见问题</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          常见问题</p>
      </div>
    </dd>
    <dd class="wjdc"> <span>问卷调查</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          问卷调查</p>
      </div>
    </dd>
  </dl>
</div>
</body>
</html>
