<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/koala.min.1.5.js"></script>
<script type="text/javascript" src="js/hdma.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({

	mainmenuid: "smoothmenu1", //menu DIV id
	
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	
	classname: 'navc'

});
</script>
<script type="text/javascript" src="js/Lunbo.js" ></script>
    <script type="text/javascript" src="js/channelChange.js"></script>



</head>


<body>
<!--顶部-->
<div class="top">
  <div class="top_logo"><a href="#"><img src="images/logo-1.png" width="410" height="90"></a></div>
  <div class="top_ss">
    <div class="top_ssa"> <span style=" line-height:30px; font-family: '微软雅黑'; padding:4px 0 0 0;color:#FFF;" >
      <iframe width="240" scrolling="no" height="24" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=11&color=%23FFFFFF&icon=1&py=zhanjiang&site=14"></iframe>
      </span> <span style=" line-height:30px; color:#FFF">　天气：</span> <span><script language=JavaScript>
var d, s = "";
var x = new Array("星期日", "星期一", "星期二","星期三","星期四", "星期五","星期六");
d = new Date();
s+=d.getFullYear()+"年"+(d.getMonth() + 1)+"月"+d.getDate()+"日 ";
s+=x[d.getDay()];
document.writeln(s);
</script></span> </div>
    <div class="top_ssb"> <span class="top_ssb1"><a href="#"><img src="images/sgd-2.png" width="60" height="36"></a></span> <span class="top_ssb2">
      <input type="text" value="请输入要查找的内容">
      </span> </div>
  </div>
</div>
<!--导航-->
<div class="nav">
  <div class="navc" id="smoothmenu1">
    <ul class="clearfix">
      <li><a class="selected" href="#">首 　页</a></li>
      <li> <a class="submenuc" target="_blank" href="#">水务要闻</a></li>
      <li> <a target="_blank" class="submenuc" href="#">政务公开</a>
        <ul class="submenu submenua">
          <li><a href="#">领导信息</a></li>
          <li><a href="#">机构职能</a></li>
          <li><a href="#">办事指南</a></li>
          <li><a href="#">公告公示</a></li>
          <li><a href="#">人事信息</a></li>
          <li><a href="#">财政预决算公开</a></li>
          <li><a href="#">信息公开年报</a></li>
          <li><a href="#">决策公开</a></li>
          <li><a href="#">管理公开（双公示）</a></li>
          <li><a href="#">执行公开</a></li>
          <li><a href="#">结果公开</a></li>
          <li><a href="#">服务公开</a></li>
          <li class="last"><a href="#">三防信息</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">主要业务</a>
        <ul class="submenu">
          <li><a href="#">水资源管理</a></li>
          <li><a href="#">建设与管理</a></li>
          <li><a href="#">水政监察</a></li>
          <li><a href="#">水库移民</a></li>
          <li><a href="#">水利质监</a></li>
          <li class="last" ><a href="#">规计财审</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">水务专辑</a>
        <ul class="submenu">
          <li><a href="#">鉴江供水枢纽工程</a></li>
          <li><a href="#">合流水库备用水源地建设</a></li>
          <li class="last"><a href="#">全面推行河长制</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a target="_blank" class="submenuc" href="#">公众互动</a>
        <ul class="submenu">
          <li><a href="#">局长信箱</a></li>
          <li><a href="#">公众留言</a></li>
          <li><a href="#">常见问题 </a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">问卷调查</a></li>
          <li><a href="#">新闻发布会</a></li>
          <li class="last" ><a href="#">在线访谈</a></li>
        </ul>
        <div class="clear"></div>
      </li>
      <li> <a  target="_blank"  href="#">水利百科</a>
        <ul class="submenu">
          <li><a href="#">政策解读</a></li>
          <li><a href="#">水务知识</a></li>
          <li><a href="#">在线访谈</a></li>
          <li><a href="#">水务视频</a></li>
          <li class="last" ><a href="#">水务图库</a></li>
        </ul>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</div>
<!--专题-->
<div class="ztgg"><img src="images/gg-1.jpg" width="1200" height="80"></div>
<!--主要内容-->
<div class="cont_box">
  <div class="side">
    <div class="sidet">栏目导航</div>
    <div class="sidem">
      <ul>
        <li><a href="#">领导信息</a></li>
        <li><a href="#">机构职能</a></li>
        <li><a href="#">办事指南</a></li>
        <li><a href="#">公告公示</a></li>
        <li><a href="#">人事信息</a></li>
        <li><a href="#">财政预决算公开</a></li>
        <li><a href="#">信息公开年报</a></li>
        <li><a href="#">决策公开</a></li>
        <li><a href="#">管理公开（双公示）</a></li>
        <li><a href="#">执行公开</a></li>
        <li><a href="#">结果公开</a></li>
        <li><a href="#">服务公开</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="main">
    <div class="maint"> <span>当前位置：<a href="#">网站首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">公众互动</a>&nbsp;&nbsp;>&nbsp;&nbsp;我要留言</span> </div>
    <div class="mainm">
      <table border="0" cellpadding="0" cellspacing="0" class="myTable">
        <tbody>
          <tr >
            <td align="center" style=" font-size:18px; line-height:50px;">使 用 须 知 </td>
          </tr>
          <tr>
            <td class="text" style="text-align:left; padding:10px;">　　1.用途说明：本栏目只处理咨询建议类信息；向局长提意见和建议的邮件请发往局长邮箱。不属于咨询建议范围内的信息概不处理或回复；您可以通过我站的受理查询栏目查询您的提交信息处理情况（一般在3个工作日内得到答复）。 <br>
              2.内容要求：请您以认真、热情、负责的态度完成咨询建议信息编写，咨询问题须用词礼貌、准确、有针对性；建议类信息内容要健康充实、所提建议须切实可行，切莫过于空洞或不符实际。我们将认真处理建议咨询信息，从中采纳对部门发展有利的建议以及及时详细地解答您的咨询提问。 对于过于空洞的建议，我们不作答或只作礼貌性回答；对于针对性不强或表述不清的咨询，我们将只提供简单的方向性的解答；对于不属于我局处理范围内的咨询或建议，概不作答。 <br>
              友情提示：为提高你的答复效率，如咨询一般业务问题，建议根据职能分工直接联系如下业务咨询电话。 </td>
          </tr>
        </tbody>
      </table>
      
      <table cellspacing="1" border="1" width="870px" align="center" class="myTable" style=" margin:15px 0 0 0;">
                <tbody><tr>
                    <td width="15%" align="right" style="text-align:right;">选择类型：	
                        </td>
                    <td style="text-align:left; padding:0 0 0 10px;">
                        <select name="ddlType" id="ddlType" onchange="checkDrow();" style="width:150px;">
			<option selected="selected" value="19">水资源管理</option>
			<option value="20">建设与管理</option>
			<option value="23">农村水利</option>
			<option value="57">水保安监</option>
			<option value="22">水政监察</option>
			<option value="21">水库移民</option>
			<option value="25">供水节水</option>
			<option value="24">水利质监</option>
			<option value="55">规计财审</option>
			<option value="66">其它</option>

		</select>
                     </td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right;">
                        姓名：</td>
                    <td style="text-align:left;padding:0 0 0 10px;">
                        <input name="txtName" type="text" maxlength="12" id="txtName" style="width:180px;"><font color="red">&nbsp;&nbsp;*(不超过50个字符)</font>
                        <span id="RequiredFieldValidator1" style="color:Red;display:none;">姓名不能为空</span>
                                    </td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right;">
                        电子邮箱：</td>
                    <td style="text-align:left;padding:0 0 0 10px;">
                         <input name="txtEmail" type="text" maxlength="50" id="txtEmail" style="width:180px;"><font color="red">&nbsp;&nbsp;*(用于接收问题的答复内容,不超过50个字符)</font>
                          <span id="RequiredFieldValidator5" style="color:Red;display:none;">电子邮件不能为空</span>

                         <span id="RequiredFieldValidator2" style="color:Red;display:none;">电子邮件格式不正确</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right;">
                       联系电话：</td>
                    <td style="text-align:left;padding:0 0 0 10px;">
                        <input name="txtPhone" type="text" maxlength="11" id="txtPhone" style="width:180px;">&nbsp;&nbsp;(不超过11个字符)
                       
                                    </td>
                </tr>
                
                <tr>
                    <td align="right" style="text-align:right;">
                        问题：</td>
                    <td style="text-align:left;padding:0 0 0 10px;">
                        <input name="txtQuestion" type="text" maxlength="50" id="txtQuestion" style="width:480px;"><font color="red">&nbsp;&nbsp;*(不超过50个字符)</font>
                        <span id="RequiredFieldValidator3" style="color:Red;display:none;">&nbsp;&nbsp;标题不能为空</span>
                                    </td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right;">
                        内容：</td>
                    <td style="text-align:left;padding:10px 0 0 10px;">
                        <textarea name="txtContent" rows="2" cols="20" id="txtContent" style="height:150px;width:500px;"></textarea><font color="red">*</font>
                        <span id="RequiredFieldValidator4" style="color:Red;display:none;">&nbsp;&nbsp;内容不能为空</span>
                      </td>
                </tr>
                <tr>
                <td align="right" style="text-align:right;">
                        验证码：</td>
                    <td style="text-align:left;padding:0 0 0 10px;">
                     <input name="txtImage" type="text" id="txtImage" maxlength="4" style="width:100px;">
                     <span id="RequiredFieldValidator6" style="color:Red;display:none;">&nbsp;&nbsp;验证码不能为空</span>
                     <a href="#" onclick="form1.ImgBtnCheckCode.src='CheckCodeImage.aspx?temp='+ (new Date().getTime().toString(36)); return false" style="color: Blue">
                            <img alt="点击刷新验证码" name="ImgBtnCheckCode" border="0" style="height: 23px" src="CheckCodeImage.aspx"></a>
                      </td>
                </tr>
                <tr >
                    <td colspan="2" align="center" style="padding:10px 0;">
                        <input type="submit" name="btnSubmit" class="lybtn" value="提交" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnSubmit&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnSubmit">
                        &nbsp;&nbsp;
                        <input id="Reset1" type="reset" class="lybtn" value="重置"></td>
                </tr>
            </tbody></table>
    </div>
  </div>
  <div class=" clear"></div>
</div>
<!--底部foot-->
<div class="footer">
  <div class="foot">
    <div class="foota"> <span>
      <select name="">
        <option>国家部委</option>
        <option>国家部委</option>
        <option>国家部委</option>
        <option>国家部委</option>
      </select>
      </span> <span>
      <select name="">
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
        <option>地市级水利网站</option>
      </select>
      </span> <span>
      <select name="">
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
        <option>市直部门</option>
      </select>
      </span> <span>
      <select name="">
        <option>其他网站</option>
        <option>其他网站</option>
        <option>其他网站</option>
        <option>其他网站</option>
      </select>
      </span> </div>
    <div class="fontb">
      <p><a href="#">首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">隐私保护</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">关于我们</a></p>
      <br>
      <p>© 2018 湛江市水务局 版权所有粤ICP备14016251号<br>
        政府网站标识码：4408000031　办公地址：湛江市赤坎区寸金路30号 邮编：524037<br>
        电话：(0759) 3194225 电子邮箱：zjswjxxb@126.com</p>
      <div class="fontb1"><a href="#"><img src="images/jiucuo.png" width="110" height="55"></a></div>
      <div class="fontb2"><a href="#"><img src="images/red.png" width="80" height="80"></a></div>
      <div class="fontb3"><img src="images/fp01.gif" width="49" height="50"></div>
      <div class="fontb4"><img src="images/fp02.gif" width="38" height="48"></div>
    </div>
  </div>
</div>
<div class="floating_ck">
  <dl>
    <dt></dt>
    <dd class="consult"> <span>微 信</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          微 信</p>
      </div>
    </dd>
    <dd class="words"> <span>局长信箱</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          局长信箱</p>
      </div>
    </dd>
    <dd class="quote"> <span>公众留言</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          公众留言</p>
      </div>
    </dd>
    <dd class="qrcord"> <span>常见问题</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          常见问题</p>
      </div>
    </dd>
    <dd class="wjdc"> <span>问卷调查</span>
      <div class="floating_left floating_ewm"> <i><img src="images/erweima.png" width="110" height="110"></i>
        <p class="qrcord_p01">扫一扫<br>
          问卷调查</p>
      </div>
    </dd>
  </dl>
</div>
</body>
</html>
