{extend name="admin@public/base" /}
{block name="main-content"}
	<!--评论管理-评论列表-->
	<div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse breadcrumbs-fixed" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
		<!--当前操作-->
		<div class="nav-wrap-up pos-rel">
			<div class="nav-wrap">
				<ul class="nav nav-list">
					{foreach name="menus_child" item="k"}
					<li>
						<a href="{:url(''.$k['name'].'')}">
						<o class="font12 {if condition="$id_curr eq $k['id']"}rigbg{/if}">{$k.title}</o>
						</a>
						<b class="arrow"></b>
					</li>
					{/foreach}
				</ul>
			</div>
		</div><!-- /.nav-list -->
	</div>
	<div class="page-content">
		<!--操作提示-->
		<a class="btn btn-link pull-right" onclick="showtips();" style="z-index: 999;display: none;" id="lightbulb">
			<i class="ace-icon fa fa-lightbulb-o"></i>
		</a>
		<div class="alert alert-info alert-fixed" id="tips">
			<button class="close" onclick="hidetips();">
				<i class="ace-icon fa fa-times"></i>
			</button>
			<div class="title">
				<i class="fa fa-lightbulb-o"></i>
				<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			</div>
			<ul>
				<li>开启/关闭评论!</li>
			</ul>
		</div>
		<script type="text/javascript">
			function showtips(){
				$("#tips").show();
				$("#lightbulb").hide();
			}
			function hidetips(){
				$("#tips").hide();
				$("#lightbulb").show();
			}
			setTimeout(function(){$("#tips").hide();$("#lightbulb").show();}, 10000);
		</script>
		<!--主体-->
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm" name="csys" method="post" action="{:url('admin/Comment/runcsys')}">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"> 是否开启评论： </label>
						<div class="col-sm-9" style="padding-top:5px;">
							<input name="t_open" id="t_open" {if condition='$csys.t_open eq 1'}checked{/if}  value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl"></span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"> 评论间隔时间： </label>
						<div class="col-sm-9">
							<input type="number" name="t_limit" id="t_limit" value="{$csys.t_limit}"  placeholder="请输入间隔时间"  class="col-xs-10 col-sm-5" required/>
							<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>单位(秒)</span>
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle" id="resone"></span>
						</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-sm-offset-3 col-sm-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}
