{foreach name="member" item="v"}
<tr>
	<td class="hidden-xs center" height="28" >{$v.member_id}</td>
	<td align="center">{$v.member_username}</td>
	<td align="center">{$v.member_nickname|default="未设置"}【{$v.member_email|default="未设置"}】</td>
	<td class="hidden-sm hidden-xs center">{$v.member_from|default="本地"}</td>
	<td class="hidden-sm hidden-xs center">
		{if condition="$v.member_sex eq 1"}男生
			{elseif condition="$v.member_sex eq 2"/}女生
			{else /}保密
		{/if}
	</td>
	<td class="hidden-sm hidden-xs center">
	{if condition='isadmin($v.member_id) eq false'}
		{$v.member_group_name}
	{else/}<span class="red">系统管理员</span>
	{/if}
	</td>
	<td class="hidden-sm hidden-xs center">{$v.score}</td>
	<td class="hidden-sm hidden-xs center">{$v.member_addtime|date='Y-m-d H:i:s',###}</td>
	<td class="hidden-xs center">
		{if condition='$v.member_open eq 1'}
			<a class="red open-btn" href="{:url('admin/Members/member_state')}" data-id="{$v.member_id}" title="已开启">
				<div id="zt{$v.member_id}"><button class="btn btn-minier btn-yellow">开启</button></div>
			</a>
			{else/}
			<a class="red open-btn" href="{:url('admin/Members/member_state')}" data-id="{$v.member_id}" title="已禁用">
				<div id="zt{$v.member_id}"><button class="btn btn-minier btn-danger">禁用</button></div>
			</a>
		{/if}
	</td>
	<td class="hidden-xs center">
		{if condition='$v.user_status eq 1'}
			<a class="red active-btn" href="{:url('admin/Members/member_active')}" data-id="{$v.member_id}" title="已激活">
				<div id="jh{$v.member_id}">
					<button class="btn btn-minier btn-yellow">已激活</button>
				</div>
			</a>
			{else/}
			<a class="red active-btn" href="{:url('admin/Members/member_active')}" data-id="{$v.member_id}" title="未激活">
				<div id="jh{$v.member_id}">
					<button class="btn btn-minier btn-danger">未激活</button>
				</div>
			</a>
		{/if}
	</td>
	<td class="center">
		<div class="hidden-sm hidden-xs action-buttons">
			<a class="green" href="{:url('admin/Members/member_edit',array('member_id'=>$v['member_id']))}" title="修改">
				<i class="ace-icon fa fa-pencil-square-o bigger-130"></i>
			</a>
			{if condition='isadmin($v.member_id) eq false'}
				<a class="red confirm-rst-url-btn" href="{:url('admin/Members/member_del',array('member_id'=>$v['member_id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			{/if}
		</div>
		<div class="hidden-md hidden-lg">
			<div class="inline position-relative">
				<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
					<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
				</button>
				<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
					<li>
						<a href="{:url('admin/Members/member_edit',array('member_id'=>$v['member_id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
							<span class="green">
								<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
							</span>
						</a>
					</li>
					{if condition='isadmin($v.member_id) eq false'}
					<li>
						<a href="{:url('admin/Members/member_del',array('member_id'=>$v['member_id'],'p'=>input('p',1)))}" class="tooltip-error confirm-rst-url-btn" data-info="你确定要删除吗？" data-rel="tooltip" title="" data-original-title="删除">
							<span class="red">
								<i class="ace-icon fa fa-trash-o bigger-120"></i>
							</span>
						</a>
					</li>
					{/if}
				</ul>
			</div>
		</div>
	</td>
</tr>
{/foreach}
<tr>
	<td height="50" colspan="12" align="left">{$page}</td>
</tr>
