{php}
//模板多语言
use think\Lang;

$lang_cn=array(
'recent qa'=>'最近问答',
'send question'=>'提交问题',
'answer question'=>'提交解答',
'question success'=>'提问成功，请等待解答！！！',
'question failed'=>'提问错误，请重新提交！！！',
'write comment'=>'请写下您的评论',
'education'=>'教育',
'shopping'=>'教育商城',
'hot topics'=>'热门话题',
'edu culture'=>'教育文化',
'hotvideo'=>'热门视频',
'ancient'=>'古代',
'modern'=>'现代',
'chinese'=>'中式',
'western'=>'西式',
'martial'=>'军事',
'politics'=>'政治',
'technology'=>'科技',
'society'=>'社会',
'age0'=>'0-3岁',
'age3'=>'3-6岁',
'age6'=>'6-12岁',
'age12'=>'12-16岁',
'age16'=>'16岁以上',
'positive'=>'客户评价',
'partner'=>'合作伙伴',
'see'=>'查看',
'recent news'=>'最新资讯',
'service items'=>'服务项目',
'successful case'=>'成功案例',
'about us'=>'关于我们',
'current location'=>'当前位置',
'home'=>'首页',
'team introduction'=>'团队介绍',
'phone'=>'电话',
'email'=>'邮箱',
'address'=>'地址',
'homepage'=>'官网',
'personal center'=>'个人中心',
'pc'=>'个人中心',
'sign out'=>'退出',
'login'=>'登录',
'weibo login'=>'微博登录',
'qq login'=>'QQ登录',
'register'=>'注册',
'scan QR code'=>'扫描二维码',
'scan'=>'扫一扫',
'contact us'=>'联系我们',
'link'=>'友情链接',
'search'=>'搜索',
'result'=>'条结果',
'search result'=>'搜索结果',
'news copyright'=>'注：本文转载自%s，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。如有侵权行为，请联系我们，我们会及时删除。',
'last news'=>'上一篇',
'next news'=>'下一篇',
'our location'=>'我们的位置',
'online message'=>'在线留言',
'username'=>'姓名',
'content'=>'内容',
'captcha'=>'验证码',
'click to get'=>'点击获取',
'send message'=>'发送留言',
'contact information'=>'联系方式',
'working hours'=>'工作时间',
'Monday ~ Friday'=>'周一~周五',
'Saturday'=>'周六',
'Sunday'=>'周日',
'rest'=>'休息',
'work flow'=>'工作流程',
'design'=>'协商设计',
'development phase'=>'开发阶段',
'test and acceptance'=>'测试验收',
'center'=>'个人中心',
'modify information'=>'修改资料',
'modify pwd'=>'修改密码',
'bind account'=>'绑定账号',
'my favorites'=>'我的收藏',
'my comments'=>'我的评论',
'hot articles'=>'热门文章',
'recent articles'=>'最近发布',
'recent comments'=>'最新评论',
'ads contribution'=>'广告赞助',
'error'=>'抱歉，出现错误了！',
'reason'=>'无法访问页面的原因：',
'automatically'=>'页面自动',
'jump'=>'跳转',
'wait second'=>'等待时间：',
'comments'=>'评论',
'send comments'=>'发表评论',
'need login to comment'=>'您需要登录后才可以评论',
'register immediately'=>'立即注册',
'anonymous'=>'匿名人',
'just'=>'刚刚',
'reply'=>'回复',
'cancel'=>'取消',
'ok'=>'确定',
'user login'=>'用户登录',
'username or email'=>'手机号/邮箱/用户名',
'remember'=>'记住登录',
'forget password'=>'忘记密码',
'nickname'=>'昵称',
'without filled'=>'未填写',
'score coin'=>'积分(金币)',
'last login'=>'最后登录',
'sex'=>'性别',
'ProMonkey'=>'男',
'ProMM'=>'女',
'secrecy'=>'保密',
'personal website'=>'个人网站',
'signature'=>'签名',
'news title'=>'原文标题',
'comment content'=>'评论内容',
'comment time'=>'评论时间',
'account activation'=>'账号激活',
'account not activated'=>'账号未激活',
'resend active email'=>'重发激活邮件?',
'resend now'=>'现在就重发吧！',
'bound qq'=>'已绑定腾讯QQ账号',
'bind new qq'=>'绑定腾讯QQ账号',
'bound sina weibo'=>'已绑定新浪微博账号',
'bind new sina weibo'=>'绑定新浪微博账号',
'member avatar'=>'会员头像',
'program loading'=>'程序加载中',
'pic effect'=>'截图效果',
'save capture'=>'保存截图',
'reselection'=>'重新选择',
'turn R'=>'右转',
'turn L'=>'左转',
'original'=>'原图',
'Skin effect'=>'美肤效果',
'Sketch effect'=>'素描效果',
'Enhancement effect'=>'自然增强',
'Purple effect'=>'紫调效果',
'Soft focus'=>'柔焦效果',
'Retro effect'=>'复古效果',
'Black-white effect'=>'黑白效果',
'Imitation LOMO'=>'仿lomo',
'Bright white effect'=>'亮白增强',
'Grey-white effect'=>'灰白效果',
'Grey effect'=>'灰色效果',
'Warm autumn effect'=>'暖秋效果',
'Wood carving effect'=>'木雕效果',
'Rough effect'=>'粗糙效果',
);

$lang_en=array(
'send question'=>'Submit Question',
'question success'=>'Submit Question Success！！！',
'question failed'=>'Submit Question Error！！！',
'write comment'=>'Write your comment here',
'education'=>'Education',
'shopping'=>'Education Mall',
'hot topics'=>'Hot Topics',
'edu culture'=>'Education Culture',
'hotvideo'=>'Hot Video',
'ancient'=>'Ancient',
'modern'=>'Modern',
'chinese'=>'Chinese',
'western'=>'Western',
'martial'=>'Martial',
'politics'=>'Politics',
'technology'=>'Technology',
'society'=>'Society',
'age0'=>'0-3 Age',
'age3'=>'3-6 Age',
'age6'=>'6-12 Age',
'age12'=>'12-16 Age',
'age16'=>'16 Age+',
'positive'=>'Customer evaluation',
'partner'=>'Partner',
'see'=>'See',
'recent news'=>'Recent news',
'service items'=>'Service Items',
'successful case'=>'Successful case',
'about us'=>'About us',
'current location'=>'Current location',
'home'=>'Home',
'team introduction'=>'Team Introduction',
'phone'=>'Phone',
'email'=>'Email',
'address'=>'Add',
'homepage'=>'Homepage',
'personal center'=>'Personal Center',
'sign out'=>'Sign out',
'login'=>'Login',
'weibo login'=>'Weibo login',
'qq login'=>'QQ login',
'register'=>'Register',
'scan QR code'=>'Scan QR code',
'scan'=>'Scan',
'contact us'=>'Contact us',
'link'=>'Friendship link',
'search'=>'Search',
'result'=>'News',
'search result'=>'Search result',
'news copyright'=>'Note: This article is reproduced from %s, reproduced in the purpose of passing more information, does not mean that this network agrees with its view and responsible for its authenticity. If there is infringement, please contact us, we will promptly delete.',
'last news'=>'Last news',
'next news'=>'Next news',
'our location'=>'Our location',
'online message'=>'Online Message',
'username'=>'Username',
'content'=>'Content',
'captcha'=>'Captcha',
'click to get'=>'Click to get',
'send message'=>'Send message',
'contact information'=>'Contact information',
'working hours'=>'Working hours',
'Monday ~ Friday'=>'Monday ~ Friday',
'Saturday'=>'Saturday',
'Sunday'=>'Sunday',
'rest'=>'Rest',
'work flow'=>'Work flow',
'design'=>'Design',
'development phase'=>'Development phase',
'test and acceptance'=>'Test and acceptance',
'center'=>'Center',
'modify information'=>'Modify info',
'modify pwd'=>'Modify password',
'bind account'=>'Bind account',
'my favorites'=>'My favorites',
'my comments'=>'My comments',
'hot articles'=>'Hot news',
'recent articles'=>'Last news',
'recent comments'=>'CMT',
'ads contribution'=>'Ads Contribution',
'error'=>'Error!',
'reason'=>'Reason:',
'automatically'=>'Automatically',
'jump'=>'Jump',
'wait second'=>'Wait second:',
'comments'=>'Comments',
'send comments'=>'Send comments',
'need login to comment'=>'You need to log in before you can comment',
'register immediately'=>'Register immediately',
'anonymous'=>'Anonymous',
'just'=>'Just',
'reply'=>'Reply',
'cancel'=>'Cancel',
'ok'=>'OK',
'user login'=>'User login',
'username or email'=>'phone/email/username',
'remember'=>'Remember',
'forget password'=>'Forget password',
'nickname'=>'Nickname',
'without filled'=>'Without filled',
'score coin'=>'score(coin)',
'last login'=>'Last login',
'sex'=>'Sex',
'ProMonkey'=>'ProMonkey',
'ProMM'=>'ProMM',
'secrecy'=>'Secrecy',
'personal website'=>'Website',
'signature'=>'Signature',
'news title'=>'News title',
'comment content'=>'Comment content',
'comment time'=>'Comment time',
'account activation'=>'Account activation',
'account not activated'=>'Account is not activated',
'resend active email'=>'Resend active email?',
'resend now'=>'Resend email now!',
'bound qq'=>'Have bound qq',
'bind new qq'=>'Bind new qq',
'bound sina weibo'=>'Have bound sina weibo',
'bind new sina weibo'=>'Bind new sina weibo',
'member avatar'=>'Member avatar',
'program loading'=>'Program loading',
'pic effect'=>'Picture effect',
'save capture'=>'Save capture',
'reselection'=>'Re-select',
'turn R'=>'R',
'turn L'=>'L',
'original'=>'Original',
'Skin effect'=>'Skin',
'Sketch effect'=>'Sketch',
'Enhancement effect'=>'Enhance',
'Purple effect'=>'Purple',
'Soft focus'=>'Soft',
'Retro effect'=>'Retro',
'Black-white effect'=>'Black-W',
'Imitation LOMO'=>'LOMO',
'Bright white effect'=>'Bright-W',
'Grey-white effect'=>'G-W',
'Grey effect'=>'Grey',
'Warm autumn effect'=>'Warm',
'Wood carving effect'=>'Wood',
'Rough effect'=>'Rough',
);
Lang::set($lang_cn,null,'zh-cn');
Lang::set($lang_en,null,'en-us');

//以下为模板栏目设置
$home_adtype_id="1";//首页幻灯片(广告位置)id
$link_footer="1";//页脚友链类型id

//根据语言选择
switch ($lang) {
	case 'en-us':
		$portal_index_lastnews="7";//首页最新资讯分类cid
		$hothits="8,9,10,11,12,14,15,16,17,18,19,20,21";//首页热门话题cid
		$ancient_cid="14";//教育文化-古代分类cid
		$modern_cid="15";//教育文化-现代分类cid
		$chinese_cid="16";//教育文化-中式分类cid
		$western_cid="17";//教育文化-西式分类cid
		$martial_cid="18";//教育文化-军事分类cid
		$politics_cid="19";//教育文化-政治分类cid
		$technology_cid="20";//教育文化-科技分类cid
		$society_cid="21";//教育文化-社会分类cid
		$age_cid="8,9,10,11,12";//课程辅导-0-3岁分类cid
		$edu_cid="14,15,16,17,18,19,20,21";//课程辅导-0-3岁分类cid
		$age0_cid="8";//课程辅导-0-3岁分类cid
		$age3_cid="9";//课程辅导-3-6岁分类cid
		$age6_cid="10";//课程辅导-6-12岁分类cid
		$age12_cid="11";//课程辅导-12-16岁分类cid
		$age16_cid="12";//课程辅导-16岁以上分类cid
		$portal_hot_articles="5,3";//右侧边栏热门文章分类cid,多个cid中间英文逗号分隔
		$portal_last_post="5,3";//右侧边栏最近发布文章分类cid,多个cid中间英文逗号分隔
	break;
	//其它语言
	case 'zh-cn':
	default:
		$portal_index_lastnews="7";//首页最新资讯分类cid
		$hothits="8,9,10,11,12,14,15,16,17,18,19,20,21";//首页热门话题cid
		$ancient_cid="14";//教育文化-古代分类cid
		$modern_cid="15";//教育文化-现代分类cid
		$chinese_cid="16";//教育文化-中式分类cid
		$western_cid="17";//教育文化-西式分类cid
		$martial_cid="18";//教育文化-军事分类cid
		$politics_cid="19";//教育文化-政治分类cid
		$technology_cid="20";//教育文化-科技分类cid
		$society_cid="21";//教育文化-社会分类cid
		$age_cid="8,9,10,11,12";//课程辅导-0-3岁分类cid
		$edu_cid="14,15,16,17,18,19,20,21";//课程辅导-0-3岁分类cid
		$age0_cid="8";//课程辅导-0-3岁分类cid
		$age3_cid="9";//课程辅导-3-6岁分类cid
		$age6_cid="10";//课程辅导-6-12岁分类cid
		$age12_cid="11";//课程辅导-12-16岁分类cid
		$age16_cid="12";//课程辅导-16岁以上分类cid
		$portal_hot_articles="5,3";//右侧边栏热门文章分类cid,多个cid中间英文逗号分隔
		$portal_last_post="5,3";//右侧边栏最近发布文章分类cid,多个cid中间英文逗号分隔
}
{/php}