<div class="v_nav">
	<div class="vf_nav">
		<ul>
			<li> <a href="{:url('/')}">
			    <i class="vf_1"></i>
			    <span>校园</span></a></li>
			<li><a href="{:url('/home/Listn')}">
			    <i class="vf_3"></i>
			    <span>资讯</span></a></li>
			<li>
			<a href="{:url('/home/Study')}">
			   <i class="vf_2"></i>
			   <span>学习</span>
			   </a>
			</li>
			<li><a href="{:url('home/Center/index')}">
			    <i class="vf_5"></i>
			    <span>我的</span></a>
			</li>
		</ul>
	</div>
</div> 
